@font-face {
    font-family: "Open-Sans_Semibold";
    src: url("/src/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: bold;
  }

  @font-face {
    font-family: "Open-Sans_Extrabold";
    src: url("/src/assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 600;
    
  }

 @media (min-width: 500px){
    body{
        background-image: url(/src/assets/Images/fondoA5.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px;
    }
}

@media (min-width: 500px){
    header{
        display: flex;
        height: 100px;
        background-image: url(/src/assets/Images/fondoHeader.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px;
        padding: 0px;
        justify-content: center;
    }
}

@media (min-width: 500px){
    .boton1{
        padding: 16px 7px 0px 3px;
        margin-top: 40px;
        margin-left: 100px;
        font-family: "Open-Sans_Extrabold";
        color:
        rgb(240, 240, 240);
        background-image: url(/src/assets/Images/fondoA2.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        border-color:
        rgb(243, 243, 243);
        
    }
}

.boton1:hover{
    font-family: "Open-Sans_Extrabold";
    color:black;
    background-image: url(../src/assets/Images/fondoA1.jpg);
}

@media (min-width: 500px){
    .boton2{
        padding: 16px 19px 11px 15px;
        
        margin-top: 40px;
        margin-left: 260px;
        margin-right: 1px;
        font-family: "Open-Sans_Extrabold";
        color: rgb(240, 240, 240);
        background-image: url(/src/assets/Images/fondoA2.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        border-color: rgb(243, 243, 243);
        
    }
}

.boton2:hover{
    font-family: "Open-Sans_Extrabold";
    color:black;
    background-image: url(../src/assets/Images/fondoA1.jpg);
}

.home{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:80px;
    grid-auto-rows:minmax(500px,auto);
}

/*.hijo1{
    background-color: red;
    grid-column: 3;
    grid-row: 1;
}

.hijo2{
    background-color: darkred;
    grid-column: 2;
    grid-row: 1;
}*/



@media (min-width: 500px){
    .sitio{
        font-family: "Open-Sans_Extrabold";
        position: absolute;
        top: 50%;
        left: 40%;
        color: white;
        font-size: 70px;
    }
}

